@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



html {
    scroll-behavior: smooth;
}

body {
    @apply text-lg;
    background-image: url('../src/imgFolder/background.jpg');
    
}

@font-face {
    font-family: 'fontA';
    src: url('https://fonts.google.com/specimen/Poppins?query=poppins') format('ttf'); 
  }


@font-face {
    font-family: 'fontB';
    src: url('https://fonts.google.com/?query=Leckerli+One') format('ttf'); 
  }


  @font-face {
    font-family: 'fontB';
    src: url('https://fonts.google.com/?query=Leckerli+One') format('ttf'); 
  }
  


.projects img {
    width: 100%;
}

.bg-primary {
    background-image: url('../src/imgFolder/background.jpg'); 
}


.bg-secondary {
    background: url('../src/imgFolder/background.jpg');
}

.bg-accent {
    background: #ee7943;
}

.text-accent {
    color: hsl(22, 78%, 58%);
}


nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: #7477FF;
}

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}


/* Header */

a {
    font-family:'fontA', semi-bold;
}

/* intro */
h1 {
    font-family: 'fontB', cursive;
    line-height: 1 !important;
}

p {
    font-family: 'fontA', cursive;
    line-height: 2;
}

button {
    font-family: 'Helvetica', cursive;
}




